#Ignore Terraform state files
*.tfstate
*.tfstate.*

#Ignore Terraform lock files
*.terraform.lock.hcl*

#Ignore .terraform directories
**/.terraform/*

#Ignore executable files
*.exe

#Ignore .jsonfiles
*.json

#Ignore .terraform/
*.terraform/*
.terraform./*
.terraform/*
.terraform/.terraform/
.terraform.lock.hcl
